<!DOCTYPE html>
<html lang="es">
<body>

     <h2>
      Alarma SIDOCS
    </h2>
	<p>
	{{ mensaje_alarma }}
        </p>
<br/>

	<hr>

	<img src="https://res.cloudinary.com/dbm59vfa8/image/upload/v1558201920/iconosidocs.png" alt="res.cloudinary.com" width="79.80875" height="75">

	<footer>
	    <p>SIDOCS Alertas</p>
  	    <p>Carlos Colmenar Manzanero, TFG </p>
	    <p><a href="c.colmenar@alumnos.upm.es">c.colmenar@alumnos.upm.es</a>.</p>
	</footer>
</body>

</html>
